@import './scss/functions';
@import './scss/variables';


$new-primary: #0c0c0c;
$new-secondary: #fbad48;
$new-danger: #ed6b4e;

$new-theme-colors: (
  'primary': $new-primary,
  'secondary': $new-secondary,
  'danger': $new-danger,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

@import './scss/bootstrap.scss';


.bodyCard {
    height: 100%;
    display: flex;
    flex-direction: column;

    .card-text{
        display: flex;
        flex-grow: 18;
    }
}

.cardText {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    flex-shrink: 2;
  }
  
.navbar-nav .nav-link:hover {
    color: $new-secondary ; 
    text-decoration: underline; 
    text-decoration-color: $new-secondary ; 
    font-weight: bold; 
    font-size: 1.2rem; 
    transition: all 0.3s ease; 
}

.navbar-nav .nav-link {
    color: inherit; 
    text-decoration: none; 
    transition: all 0.3s ease; 
}

.form-control:focus {
    border: 1px solid #f7ebdb;
    box-shadow: 0 0 5px rgba(251, 193, 99, 0.5); 
    background-color: #fff7f0; 
    font-weight: bold; 
    transform: scale(1.05); 
    transition: all 0.3s ease; 
  }
.form-control{
    border: 1px solid #f7ebdb; 
}
.card{
    height: 100%;
}
.carousel-item img{
    max-height: 30vh;
    object-fit: cover;
    object-position: center;
}
#guitars{
    height: 30vh;
    width: 100%;
    object-fit: cover;
}
.footer {
    background-color: #000000; 
    color: white;
    padding: 20px 0;
    margin-top: 40px;
}
.footer a {
    color: white; 
}
.footer a {
    text-decoration: none
}
.navbar {
    background-color: transparent;
    transition: background-color 0.7s, box-shadow 0.3s;
}
.nav-colored{
    background-color: #f7ebdb !important;

}

.detImg{
    width: 100%;
    max-height: 560px;
    object-fit: contain;
    padding-inline: 4%;
}
.view{
    width: 100%;
    height: 100%;
}
.modify{
    width:100%;
    height: 100%;
}
